html{
    box-sizing: border-box;
}

*, *:before, *:after { 			/*2-2 CODIGO ESPECIAL estos codigos (1-2 , 2-2) sirve para por 
                                ejemplo si se le da un ancho a una etiqueta de bloque se establesca ese
                                ancho y no incremente cuando se le da un padding o un borde*/
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mukta', sans-serif;
}

section span{
    color: rgb(255, 208, 0);
    text-transform: uppercase;
}

section, main{
    margin-bottom: 3rem!important;
}

.clearfix{
    clear: both;
}

.title-section{
    text-align: center;
    margin-bottom: 1rem;
}

.title-section h2{
    font-weight: 100;
}

.container{
    margin: 0 auto;
    width: 90%;
}

#site-header{
    text-align: center;
}

@media (min-width: 768px){
    #site-header{
        padding: 1rem 0;
        overflow: auto;
    }
}

#logo{
    float: none;
}

@media (min-width: 768px){
    #logo{
        float: left;
    }
}

#nav-main{
    float: none;
    margin-top: 1.25rem;
    text-align: center;
}

@media (min-width: 768px){
    #nav-main{
        float: right;
        margin-top: 2.25rem; /*36px*/
    }
}

#nav-main ul{
    list-style: none;
}

#nav-main li{
    border-radius: .625rem;    /*10px*/
    display: block;
    margin-bottom: 1rem;
    padding: .625rem 0;        /*10px*/
}

#nav-main li:hover{
    background-color: aqua;
}

@media (min-width: 786px){
    #nav-main li{
        display: inline-block;
        padding: 0;
        margin-bottom: 0!important;
        margin-right: 7rem;
    }

    #nav-main li:last-of-type{
        margin-right: 0;
    }

    #nav-main li:hover{
        background-color: transparent;
    }
}


#nav-main li a{
    text-decoration: none;
}

#main-content{
    background-image: url(../img/image-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* margin-top: 2rem; */
    min-height: 35rem;
    /* height: 100vh; */
    padding: 2rem;
    position: relative;
}

#main-content::after{
    background-color: rgba(0,0,0,.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#caja-contenido-principal{
    color: white;
    margin-top: 1rem;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px){
    #caja-contenido-principal{
        margin-top: 5rem;
    }
}

#caja-contenido-principal h1{
    font-size: 2.25rem;      /*36px*/
}

#caja-contenido-principal p{
    line-height: 1.56rem;   /*25px*/
}


@media (min-width: 768px){
    #caja-contenido-principal{
        width: 40%;
    }
}

#caja-contenido-principal img{
    background-color: rgba(255,255,255,.5);
    border: 1px solid white;
    border-radius: 50%;
    padding: .625rem;  /*10px*/
    width: 2.062rem;        /*33px*/
}

#caja-contenido-principal a{
    color: white;
}

#video{
    margin-top: 1rem;
}


/*ESTILOS PARA LA PARTE DE LA SECCION DE LA HISTORIA*/

.history-box{
    /* border: 1px solid blue; */
    text-align: justify;
    margin: 0 auto;
    width: 80%;
}   

.paragrahp-history{
    text-align: center;
}

.paragrahp-history h2{
    font-size: 2.125rem;    /*34px*/
    font-weight: 100;
}

.paragrahp-history p{
    line-height: 1.75rem;  /*28px*/
    font-size: 1.125rem;        /*18px*/
    margin-top: 2rem;
    text-align: left;
}

@media (min-width: 768px){
    .content-history-box{
        overflow: auto;
    }
    .history-box{
        float: left;
        width: 48%;
    }

    .paragrahp-history{
        margin-top: 10rem;
    }
}

.history-box img{
    width: 100%;
}


/*ESTILOS PARA LA SECCION DE JOURNEY*/

.content-journey{
    height: auto;
}

@media (min-width: 768px){
    .content-journey-boxes{
        overflow: auto;
    }
}

.journey-box{
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    width: 90%;
}

@media (min-width: 768px){
    .journey-box{
        float: left;
        margin: 2rem 1rem; 
        width: 30%;
    }

    .journey-box:last-of-type{
        margin-right:0;
    }
}

.journey-box img{
    width: 100%;
}

.journey-box-prices{
    color: white;
    position: absolute;
    right: 32%;
    bottom: 5%;

}

.journey-box-prices a{
    color: white;
    display: inline-block;
    background-color: rgb(255, 208, 0);
    border-radius: 1.875rem;    /*30px*/
    padding: 0 1.25rem; 
    text-decoration: none;
}


/*ESTILOS PARA LA SECCION DE OUR TEAM*/



@media (min-width: 768px){
    .content-ourteam-boxes{
        overflow: auto;
    }
}


.ourteam-box{
    /* border: 1px solid green; */
    text-align: center;
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 1.25rem;  /*20px*/
    width: 90%;
}

@media (min-width: 768px){
    .ourteam-box{
        float: left;
        margin: 2rem 1rem;
        width: 30%;
    }
}

.ourteam-box span{
    color: gray;
    display: inline-block;
    letter-spacing: 0.125rem;
    margin-top: .625rem; /*10px*/
}

.ourteam-box p{
    line-height: 1.625rem;  /*26px*/
    margin-top: 1.56rem; /*25px*/
}



.ourteam-box-links{
    margin-top: 2rem;
}

.ourteam-box-links a{
    background-color: rgba(239, 186, 108, 0.2);
    color: orange;
    border-radius: 50%;
    display: inline-block;
    padding: 1rem;
    margin-right: .625rem; /*10px*/
    width: 3.125rem;        /*50px*/
}


/*ESTILOS DE TESTIMONIALES*/

.testimonial-box{
    background-color: rgb(248, 200, 109);
    color: rgb(52, 58, 59);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.3125rem;  /*37px*/
    overflow: auto;
    padding: 3rem;
}

.testimonial-box > *{
    float: left;
}

.testimonial-box p{
    margin-left: 1.25rem;
    width: 80%;
}


.testimonial-box img{
    width: 15%!important;
}


/*ESTILOS DE SECCION OUR-BLOG*/


@media (min-width:768px){
    .our-blog-content{
        overflow: auto;
    }
}

.item-our-blog{
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px){
    
    .item-our-blog{
        float: left;
        margin: 0 auto;
        margin-right: .625rem;
        padding: 1rem;
        width: 32%;
    }

    .item-our-blog:last-of-type{
        margin: 0;
    }
}


.item-our-blog a{
    color: black;
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.item-our-blog img{
    width: 100%;
}

.item-our-blog a > p{
    font-size: 1.25rem;
    font-weight: 300;
}


.item-our-blog .date{
    color: rgb(226, 221, 221);
}

.user{
    color:  rgb(248, 200, 109);
}

.item-our-blog > p{
    color: grey;
    line-height: 1.75rem;  /*28px*/
    margin-top: 1rem;
}

/*ESTILOS PARA EL SLIDER*/

.slider{
    position: relative;
    height: 60vh;
}

.slider::before{
    background-image: url(../img/image-main.jpg);
    content: '';
}

.slider::after{
    content: '';
    background-color:  rgba(248, 200, 109,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax::before{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#text-slider{
    color: white;
    padding: 3rem 0;
    position: relative;
    text-align: center;
    z-index: 3;
}

@media (min-width: 768px){
    #text-slider{
        padding: 7rem 0;
        width: 50%;
    }
}

#text-slider p{
    line-height: 1.75rem;  /*28px*/
    margin: 1rem 0;
}

#text-slider a{
    background-color:  rgb(248, 200, 109);
    border-radius: .3125rem; /*5px*/
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
}

/*ESTILOS DEL FOOTER*/

#site-footer{
    background-color: #f6f5f5;
}

@media(min-width: 768px){
    #site-footer{
        height: 100vh;
    }
}

#footer-content-items{
    padding-top: 4rem;
}


@media (min-width: 768px){
    #footer-content-items{
        overflow: hidden;
    }
}

.item-footer{
    margin-bottom: 1rem;
}

@media (min-width:768px){
    .item-footer{
        float: left;
        margin-right: 2rem;
        margin-top: 4rem;
        margin-bottom: 0;
        width: 30%;
    }

    .item-footer:last-of-type{
        margin-right: 0;
    }
    
}

.item-footer h4{
    margin-bottom: 1rem;
}

#links-instagram a{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#links-instagram img{
    height: 5.625rem;   /*90px*/
    width: 5.625rem;    /*90px*/
}


.item-footer h4{
    margin-bottom: 1.5rem;    /*24px*/
}

.item-footer .quick-links ul{
    list-style: none;
}

.item-footer .quick-links li{
    display: block;
    margin-bottom: 1.625rem;    /*26px*/
}

.quick-links li:last-of-type{
    margin-bottom: 0;
}

.quick-links a{
    color:  rgb(248, 200, 109);
    text-decoration: none;
}

.item-footer p{
    line-height: 1.6875rem;  /*27px*/
    margin-bottom: 1rem;
}

.item-footer input{
    border: 1px solid #ccc;
    border-radius: .3125rem; /*5px*/
    padding: .6875rem;  /*11px*/
}

.item-footer #btn-send{
    background-color: rgb(248, 200, 109);
    border-radius: .3125rem; /*5px*/
    color: black;
    display: inline-block;
    font-weight: 100;
    margin-left: .625rem;  /*10px*/
    padding: .9375rem;          /*15px*/
    text-decoration: none;
}

#copyright{
    margin-top: 7rem;
    text-align: center;
}


/*ESTILOS DE LA PAGINA DEL FORMULARIO*/


@media (min-width: 768px){
    .direction-form-box{
        overflow: auto;
    }
}

@media (min-width:768px){
    .form-box, .direction-box{
        float: left;
    }
}

@media (min-width:768px){
    .form-box{
        width: 60%;
    }
}


.form-group{
    margin-bottom: 1rem;
}

.input-form, .input-form-email, .input-form-textarea{
    border: 1px solid #ccc;
    border-radius: .3125rem;
    padding: .937rem;
}

.input-form-email, .input-form-textarea{    
    width: 100%;
}

.input-form-textarea{
    max-height: 12.5rem;  /*200px*/
    min-height: 12.5rem;  /*200px*/
    max-width: 100%;
    min-width: 100%;
}

.input-form{
    display: inline-block;
    width: 49%;
}

.form-box .send-button{
    background-color: rgb(248, 200, 109);
    border: none;
    border-radius: .3125rem;     /*5px*/
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 5rem;
}

.direction-box{
    margin-top: 5rem;
}

.direction-box h4{
    font-size: 1.75rem; /*28px*/
    font-weight: 100;
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    .direction-box{
        margin: 0;
        margin-left: 4rem;
        width: 30%;
    }
}

.direction-box > div{
    margin-bottom: 1.75rem;
}

.direction-box > div:last-of-type{
    margin-bottom: 0;
}

.direction-box p{
    font-size: 1.125rem;    /*18px*/
    font-weight: 100;
}